@font-face {
    font-family: 'idroid';
    src: url(fonts/idroid.otf) format('opentype');
}
@font-face {
    font-family: 'alternative-gothic-ef';
    src: url(fonts/AlternateGothicEF\ NoTwo\ Regular.otf) format('opentype');
}
:root {

    --cor1: #39DB87;
    --cor2: #30B871;
    --cor3: #258F58;
    --cor4: #1B663F;
    --cor5: #103D26;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #39423ea2;
    font-size: 1em;
    margin: 0px;
}
header {
    padding: 10px 5px 20px 5px;
    background-image: linear-gradient(var(--cor2), 60%, var(--cor5));
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}
header h1 {
    font-family: 'alternative-gothic-ef', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
    margin: 20px 0px;
}
header p {
    color: rgba(255, 255, 255, 0.753);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
    font-size: 1.2em;
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    text-indent: 0;
}
nav a  {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: left;
    margin: 0px 10px 30px 0px;
    border-radius: 5px;
    padding: 15px 15px;
    height: 46m;

}
nav a::after {
    content: '';
}
nav a:hover {
    text-decoration: none;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.651);
    color: var(--cor5);
    transition-duration: 0.4s;

}  
main {
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.288);
}
article {
    padding: 10px 20px;

}
main h1 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: var(--cor5);
    font-size: 2em;
}
main h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: var(--cor5);
    background-image: linear-gradient(to right, #30b87293, 40%, transparent);
    border-radius: 5px;
    padding-left: 8px;
}
main p {
    text-indent: 30px;
    line-height: 2em;
    text-align: justify;
}
ul {
    list-style-type: '✔  ';
    columns: 2;
}
li {
    text-decoration: underline;
}
main a {
    color: var(--cor5);
    font-weight: bolder;
    text-decoration: none;
    border-radius: 3px;
    padding: 1px 3px;
}
main a::after {
    content: ' 🔗';
}
main a:hover {
    color: white;
    background-color: var(--cor4);
    transition-duration: 0.3s;
}
main img {
    display: block;
    margin: 0 auto;
}
#youtube {
    border: 30px solid var(--cor4);
    width: calc(100% - 60px);
    height: 100%;
    aspect-ratio: 16 / 9;

}
#descricao-extra {
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: #39db8748;
    color: black;
}
#titulo-extra {
    color: white;
    background-color: var(--cor2);
    border-radius: 20px 20px 0px 0px;
    font: bold 1.3em Arial;
    padding: 20px 20px;
}
#extra {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}
footer > p {
    width: 100%;
    height: 2.5em;
    background-color: var(--cor5);
    margin: 30px 0px 0px 0px;
    border: 0px;
    color: white;
    text-align: center;
    padding-top: 1em;
}
